*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: aqua;
    color: aliceblue;
    width: auto;
    
}
section{
    margin: 20px 35%;
    border: 1px solid #f2f2f2;
    padding: 25px;
    background-color: bisque;

}
h2,h3,p {
    margin-bottom: 10px;

}
img{
    height: 400px;
    width: 400px;
}